
/*---Layout rulesets---*/
body{
	display: grid;
	grid-gap: 5px;
	grid-template-areas:
		"tabs"
		"heading"
		"full-content"
		"footer";
}
nav {
	grid-area: tabs;
}
.tab {
	display: inline-block;
	margin: 10px 10px 10px 10px;
}
.heading {
	grid-area: heading;
}
@media (min-width: 500px){
	body {
		max-width: 1080px;
		margin: 0 auto;
		grid-gap: 10px;
	}
	.full-content{
		grid-gap: 10px;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas:
			"skills intro work"
			"skills summary work";
	}
}
/*---Font size rulesets---*/
html {
	font-size: 10px;
}
.tab {
	font-size: 2.0rem;
}
#name {
	font-size: 3.2rem;
}
#links {
	font-size: 2.4rem;
}
main {
	font-size: 1.6rem;
}

/*---Other styling---*/
a:link {
	text-decoration: none;
	color: #51db5b;
}
a:hover {
	background-color: #dfdfdf;
}
a:active {
	background-color: #d5d5d5;
	color: #fb0e2c;
}
a:visited {
	color: #1fc8ff;
}
/*---Home page---*/
.full-content {
	grid-area: full-content;
	display: grid;
	grid-gap: 5px;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"intro intro"
			"skills work"
			"summary summary";
}
.skills {
	grid-area: skills;
	margin: 0 auto;
}
.intro {
	grid-area: intro;
	margin: auto 20px auto 20px;
}
.work {
	grid-area: work;
	margin: 0 auto;
}
.sub-content {
	grid-area: summary;
	margin: auto 20px auto 20px;
}
.job {
	font-size: 2.0rem;
	text-decoration: bold;
	margin: 5px auto 5px auto;
}
footer {
	grid-area: footer;
}
/*---Article pages---*/
article.blog_post {
	text-indent: 3em each-line;
}








